@import "./theme.styl";

.theme-color54b1ff {
  theme(#54b1ff)
}
.theme-colorc80d0d {
  theme(#c80d0d)
}
.theme-color3c3c3c {
  theme(#3c3c3c)
}
.theme-color9127e9 {
  theme(#9127e9)
}
.theme-colorffb32c {
  theme(#ffb32c)
}
.theme-colorf41f1e {
  theme(#f41f1e)
}
.theme-colorfad066 {
  theme(#fad066)
}