// #44b5f9
theme($backcolor=#d23748, $fcolor=#fff, $ftowHead=#bbb)
  // 侧边栏
  .e_l
    .t_b,.t_a:after
      background $backcolor
      color $fcolor!important
      border none!important
    .t_bc
      color $backcolor!important
    .t_c
      color $fcolor
    .t_bd
      border 1px solid $backcolor
      color $backcolor